:root {
  --background-color-white: #ffffff;
  --background-color-header: #002171;
  --background-color-nav: #bbdefb;
  --background-color-body: #90c7e3;

  --text-color-dt: #002171;
  --text-color-h2: #1976d2;
  --text-color-h3: #000033;
  --text-color-gray-dark: #555;
  --text-color-header: #fff;
  --text-color-resort: #1976d2;

  --font-primary: 'Arial', 'Helvetica', sans-serif;
  --font-secondary: 'Georgia', 'Times New Roman', serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  background-color: #eaeaea;
  color: var(--text-color-gray-dark);
}

#wrapper {
  width: 80%;
  min-width: 960px;
  max-width: 2048px;
  background-color: var(--background-color-body);
  margin: 0 auto;
  box-shadow: 0px 3px 3px #333;
  border: 1px solid #000033;
  background-image: linear-gradient(
    to bottom,
    var(--background-color-white),
    var(--background-color-body)
  );
}

header {
  background-color: var(--background-color-header);
  color: var(--text-color-header);
  height: 120px;
  padding-top: 30px;
  padding-left: 3em;
  text-align: center;

  a:link,
  a:visited {
    text-decoration: none;
    color: #ffffff;
  }

  a:hover {
    color: #90c7e3;
  }
}

nav {
  padding: 1.5em;
  font-size: 120%;
  float: left;
  width: 160px;

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    font-size: 1.2em;
  }

  a {
    text-decoration: none;
  }

  a:link {
    color: #5c7fa3;
  }
  a:visited {
    color: #344873;
  }
  a:hover {
    color: #a52a2a;
  }
}

main {
  padding: 1px 20px 20px;
  display: block;
  background-color: #ffffff;
  margin-left: 190px;
  padding-left: 30px;
  overflow: auto;
}

h1 {
  font-family: var(--font-secondary);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3em;
  letter-spacing: 0.25em;
}

h2 {
  font-family: var(--font-secondary);
  color: var(--text-color-h2);
  text-shadow: 1px 1px #ccc;
}

h3 {
  font-family: var(--font-secondary);
  color: var(--text-color-h3);
}

main ul {
  list-style-image: url('marker.gif');
}

dt {
  color: var(--text-color-dt);
}

footer {
  font-size: 75%;
  font-style: italic;
  text-align: center;
  font-family: var(--font-secondary);
  padding: 2em;
  margin-left: 190px;
  background-color: #ffffff;
}

.resort {
  color: var(--text-color-resort);
  font-weight: bold;
}

#contact {
  font-size: 90%;
}

#homehero,
#yurthero,
#trailhero {
  margin-left: 190px;
}

#homehero {
  height: 300px;
  background-image: url('coast2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#yurthero {
  height: 300px;
  background-image: url('yurt.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#trailhero {
  height: 300px;
  background-image: url('trail.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

section {
  float: left;
  width: 33%;
  padding-left: 2em;
  padding-right: 2em;
}
