:root {
  --background-color-white: #ffffff;
  --background-color-header: #002171;
  --background-color-nav: #bbdefb;
  --background-color-body: #90c7e3;

  --text-color-dt: #002171;
  --text-color-h2: #1976d2;
  --text-color-h3: #000033;
  --text-color-gray-dark: #555;
  --text-color-header: #fff;
  --text-color-resort: #1976d2;

  --font-primary: 'Arial', 'Helvetica', sans-serif;
  --font-secondary: 'Georgia', 'Times New Roman', serif;
}

body {
  font-family: var(--font-primary);
  background-color: var(--background-color-body);
  background-image: linear-gradient(
    to bottom,
    var(--background-color-white),
    var(--background-color-body)
  );
  background-repeat: no-repeat;
  color: var(--text-color-gray-dark);
}

#wrapper {
  width: 80%;
  min-width: 960px;
  max-width: 2048px;
  background-color: var(--background-color-white);
  margin: 0 auto;
  box-shadow: 0px 3px 3px #333;
}

header {
  background-color: var(--background-color-header);
  color: var(--text-color-header);
  background-image: url('sunset.jpg');
  background-repeat: no-repeat;
  background-position: right;
  height: 60px;
  text-align: center;
  padding-top: 15px;
}

nav {
  background-color: var(--background-color-white);
  text-align: center;
  padding: 1em;
  font-weight: bold;

  a {
    text-decoration: none;
  }
}

main {
  padding: 1px 20px 20px;
  display: block;
}

h1 {
  font-family: var(--font-secondary);
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-family: var(--font-secondary);
  color: var(--text-color-h2);
  text-shadow: 1px 1px #ccc;
}

h3 {
  font-family: var(--font-secondary);
  color: var(--text-color-h3);
}

ul {
  list-style-image: url('marker.gif');
}

dt {
  color: var(--text-color-dt);
}

footer {
  font-size: 75%;
  font-style: italic;
  text-align: center;
  font-family: var(--font-secondary);
  padding: 2em;
}

.resort {
  color: var(--text-color-resort);
  font-weight: bold;
}

#contact {
  font-size: 90%;
}

#homehero {
  height: 300px;
  background-image: url('coast.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#yurthero {
  height: 300px;
  background-image: url('yurt.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#trailhero {
  height: 300px;
  background-image: url('trail.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
